@model IList<HandyMapp.Models.GoogeApi.Places.Details.PlaceDetails>

@{
    ViewData["Title"] = "PlacesResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row breadcrumbRow">
    <ul class="container breadcrumbContainer">
        <li class="breadcrumbHandy visitedBreadcrumb breadcrumblineVisited"><a asp-controller="Review" asp-action="SelectReview"> Review choice</a></li>
        <li class="breadcrumbHandy currentBreadcrumb"><div class="breadcrumbLineCurrent"></div>Select adress/building</li>
        <li class="breadcrumbHandy">Enter your review</li>
        <li class="breadcrumbHandy">Finish your review</li>
    </ul>
</div> <!-- visitedBreadcrumb breadcrumblineVisited     <div class="breadcrumbLineCurrent"></div>       currentBreadcrumb-->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 pageTitle">
        <span>Enter the name</span>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
        <form>
            <div class="form-group">
                @Html.Partial("~/Views/PartialView/_AutoComplete.cshtml")
            </div>
        </form>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 ">
        <button class="btn btn-block btn-primary btn-lg" id="searchReviewBuilding">Search&ensp;<span class="glyphicon glyphicon-arrow-right"></span></button>
    </div>
</div>
<div class="PlacesReviewResults row col-sm-offset-1 col-sm-10 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <div id="reloadAjax">
        @Html.Partial("~/Views/PartialView/CardListPlaceDetails.cshtml")
    </div>
</div>

@section Style {
    <link rel="stylesheet" href="~/css/PlacesResult.css" />
    <link rel="stylesheet" href="~/css/ReviewPlaces.css" />
}

@section Scripts {
    <script src="~/js/ReviewPage.js"></script>
    <script>
        $("#searchReviewBuilding").click(function () {
            if ($(".search").val().length > 2) {
                    var val = $('#search').val();
                    $.ajax({
                            type: 'post',
                            url: '@Url.Action("SearchPlaces", "ReviewPlaces")',
                            data: { searchstext: val }
                        })
                        .done(function(partialViewResult) {
                            $("#reloadAjax").html(partialViewResult);
                        });
            }
            $window.initialise();
        });

        $(".search").keypress(function(e) {
            if ($(".search").val().length >= 3) {
                if (e.which === 13) {
                    var val = $('#search').val();
                    $.ajax({
                            type: 'post',
                            url: '@Url.Action("SearchPlaces", "ReviewPlaces")',
                            data: { searchstext: val }
                    })
                        .done(function (partialViewResult) {
                            $("#reloadAjax").html(partialViewResult);
                        });
                }
            }
            $window.initialise();
        });
    </script>
}











