 #map {
     height: 800px;
 }

#panel {
    border: black;
    border-style: solid;
    height: 800px;
    border-width: 2px;
    overflow-y: scroll;
}

 #floating-panel {
     position: absolute;
     top: 10px;
     left: 25%;
     z-index: 5;
     background-color: #fff;
     padding: 5px;
     border: 1px solid #999;
     text-align: center;
     font-family: 'Roboto','sans-serif';
     line-height: 30px;
     padding-left: 10px;
 }
 #floating-panel {
     position: absolute;
     top: 5px;
     left: 50%;
     margin-left: -180px;
     width: 350px;
     z-index: 5;
     background-color: #fff;
     padding: 5px;
     border: 1px solid #999;
 }
 #latlng {
     width: 225px;
 }
