body {
}
/* left side page*/
#PlacesResults {
    height: 475px;
    Background: #CCC;
    border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
    padding: 10px 8px 10px 10px;
    overflow-y: scroll;
}

/*Accesibile places results*/


.PlaceResult {
    background-color: white;
    height: 140px;
    margin-bottom: 5px;
    border-radius: 2px;
    padding: 10px 15px 0px 15px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.1);
}

    .PlaceResult:hover {
        background-color: #DDD;
    }

.PlaceTitle {
    height: 50px;
    padding: 0px;
    overflow: hidden;
}

.Title {
    width: 100%;
    height: 30px;
    padding: 0px;
    font-size: 23px;
    line-height: 23px;
}

.Accessibility {
    height:50px;
    padding: 0;
}

.RatingTitle {
    color: grey;
}

/*STARS-------------*/
.helft, .midden{
    fill: #c7c7c7;
}

/*Scrollbar*/
#PlacesResults::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#PlacesResults::-webkit-scrollbar
{
    width: 8px;
    background-color: #F5F5F5;
}

#PlacesResults::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #aaa;
}

/*right side page*/
#PlacesOnMap {
    padding:0;
    height: 475px;
    box-shadow: 5px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

