#DetailsButtons, #EndReview {
    margin-top: 150px;
}

#DetailsButtons, #DetailsQuestionsNumber {
    display: none;
}

#DetailsQuestionsNumber {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}