/*///////////////////////////////////////// PLACES RESULT ////////////////////////////////////////*/
/*right side page*/
.PlacesOnMap {
    position: relative !important;
    margin-left: -30%;
    display: flex;
    flex-grow: 8;
    padding: 0;
    z-index: 5;
}

/* left side page*/
.PlacesResults {
    flex-direction: column;
    width: 30%;
    z-index: 10;
    height: 92.8vh;
    border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
    overflow-y: scroll;
}

/*Individual Results        Accessible places*/


.PlaceResult {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px;
    -ms-border-radius: 5px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px #b2b2b2;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.PlaceResultButton {
    background-color: #1370B8;
    color: white;
    padding: 15px 0;
    cursor: pointer;
    height: 50px;
    -ms-border-radius: 0 0 15px 15px;
    border-radius: 0 0 15px 15px;
}

    .PlaceResultButton:hover {
        color: white;
        background-color: #204d74;
        -webkit-tranHoverition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
    }

    .PlaceResultButton span {
        margin: 5px;
        color: white;
        width: 100%;
        text-align: center;
    }

.ImageContainter {
    height: 30%;
    -ms-border-radius: 15px;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}

    .ImageContainter img {
        width: 100%;
        margin-top: -10%;
        vertical-align: middle;
    }

.Placetext {
    padding: 15px 20px 0 20px;
    background-color: #1370b8;
    border-radius: 9px 9px 0 0;
}

.PlaceTitle {
    overflow: hidden;
    padding-bottom: 10px;
    font-size: 23px;
    line-height: 28px;
    padding: 0;
    margin-top: 0;
    color: white;
}

.Accessibility {
    background-color: #f5f5f5;
    display: flex;
    padding: 5px 20px;
}

.RatingTitle {
    color: grey;
    padding-right: 5px;
}

.RatingStars {
    height: 20px;
    width: 100px;
}

.placeDescription {
    padding: 5px 15px 5px 20px;
}

.PlaceAdress {
    padding: 15px 20px 0 20px;
    color: grey;
}

.DescriptionContainer {
    overflow: hidden;
    padding: 15px 20px 0 20px;
    height: 10px
}

button {
    display: none;
}

.PlaceButtons {
    padding: 15px 10px 20px 10px;
}

/*Scrollbar*/
.PlacesResults::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.PlacesResults::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
    display: none;
}

.PlacesResults::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #aaa;
}

.openingHours {
    padding: 15px 0 15px;
}

.widget-titlecard {
    margin-left: 26% !important;
}

.searchfield {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 1px #b2b2b2;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.3);
}

    .searchfield label {
        display: flex;
        border-radius: 5px 5px 0 0;
        background-color: rgb(19, 112, 183);
        padding: 15px;
        color: #f5f5f5;
    }
