body {
}
polygon {
    fill: #f1f1f1;
    border: solid 5px #000;
    stroke-width: 3px;
    stroke: #444;
}

polygon:hover {
    fill: #1370B8;
    cursor: pointer;
}

#AreaName {
    width: 100%;
    height: 100px;
    margin: 40px 0;
    border: solid #1370B8 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    padding: 5px;
    font-size: 18px;
}

    #AreaName div {
        font-weight: bold;
    }
    #AreaName span {
        font-weight: bold;
        color: #1370B8;
    }