/*////////////////////////////////////// NAVBAR //////////////////////////////////////*/
.navbar-default {
    background-color: white;
}

.navbar-default {
    margin-bottom: 0;
    webkit-box-shadow: 0 8px 6px -6px #999;
    moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.brand-logo {
    width: 70%; /* you can use % */
    height: auto;
    margin-top: -8px;
    margin-right: 0;
}

/*////////////////////////////////////// GLYPHICON //////////////////////////////////////*/
.glyphicon:before {
    margin-right: 5px;
}

/*////////////////////////////////////// JUMBOTRON (excluding INDEX) //////////////////////////////////////*/
.jumbotron-notFront {
    background-color: #1370B8;
    color: white;
    margin: 40px 0 0 0;
    padding: 25px 0 25px 0;
}

.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 6px 6px 0 0;
}
/*////////////////////////////////////// TEXT INDEX //////////////////////////////////////*/
.frontpage_text {
    float: right;
    font-weight: bold;
    background-color: #1370B8;
    color: white;
    padding: 6px 6px 8px 6px;
    margin-top: 195px;
}

/*////////////////////////////////////// THUMBNAILS //////////////////////////////////////*/
p .hard:hover {
    font-weight: bold;
}

.lowerThumbnail {
    background-color: #1370B8;
}

.lowerThumbnail_text {
    color: white;
    margin-bottom: 2.5px;
    margin-top: 5px;
}

.lowerThumbnail_text_big {
    color: white;
    margin-bottom: 2.5px;
    margin-top: 5px;
    font-size: 30px;
}

.thumbnail-container-walkingAid{
    padding-left: 0;
}

#thumbnail1{
    padding-left:0;
    padding-right:30px;
}

#thumbnail2 {
    padding-left: 0;
    padding-right: 30px;
}

.thumbnail3 {
    padding-left: 0;
    padding-right: 30px;
}


.transition {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.thumbnail-mode {
    margin: 40px 0 0 0;
    border-color: #1370B8;
    border-width: 4px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    -moz-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.thumbnail-navigation {
    margin: 40px 0 10px 0;
    border-color: #1370B8;
    border-width: 3px;
}

.thumbnail-navigation:hover {
    text-decoration: none;
    background-color: #FEC20F;
    font-weight: bold;
    -webkit-tranHoverition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.thumbnail-mini {
    margin-top: 40px;
    background-color: #FEC20F;
}

.hoverThumbnails:hover {
    background-color: #FEC20F;
    font-weight: bold;
    text-decoration: none;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.thumbnail-container-frontPage {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 50px;
}

/* card-img-top classes are the thumbnail images */
.card-img-top {
    width: 40%;
    height: auto;
    padding: 40px 0 40px 0;
    margin: 0 0 0 0;
}

.card-img-top-walkingAid {
    width: 70%;
    height: auto;
    margin: 20px 0px 0px 0px;
}

/*////////////////////////////////////// DISCRIPTION FIELD //////////////////////////////////////*/
.description-container {
    padding: 0;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 0 0 6px 6px
}

.description-text{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
    padding: 7px 0 0 0;
}

.back-button {
    padding: 10px;
    border-radius: 0 0 0 6px;
    border-color :#f5f5f5; 
}

.back-button:hover{
    border-color: transparent;
    color: white;
    -webkit-tranHoverition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

/*////////////////////////////////////// OBSTACLE TABLE //////////////////////////////////////*/
.obstaclesTile {
    margin: 40px 0 0 -30px;
    background-color: #F5F5F5;
}

.obstacleCheckboxes {
    font-size: 25px;
}

/*////////////////////////////////////// TEST //////////////////////////////////////*/
.row {
    margin: 0;
}

/*////////////////////////////////////// RANDOM //////////////////////////////////////*/
/*
footer{
    background-color: transparent;
    border-color: lightgray;
    border-bottom: none;
    height: 20px;
    position: fixed;
}
*/

.form-container{
    margin-top: 40px;
    padding: 0 0 0 0;
}

.from-to{
    font-size: 25px;
}

.btn:hover {
    background-color: #1370B8;
}

.form-button{
    padding: 0 0 0 0;
}


/*/////////////////////////// STEPS //////////////////////////*/
.stepActivated {
    width: 5%;
    height: 5%;
    margin: 0 10px 0 10px;
}

.stepDiactivated {
    width: 5%;
    height: 5%;
    opacity: 0.5;
    filter: alpha(opacity=50);
    margin: 0 10px 0 10px;
}

.step-breadcrumbs:hover {
    text-decoration: none;
}

.stepVisited:hover {
    color: white;
    opacity: 1;
    -webkit-tranHoverition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.softHover {
    -webkit-tranHoverition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}