body {
    font-size: 225%;
    background-color: #e8e8e8;
}

/*////////////////////////////////////// COLORS AND SHADOWS //////////////////////////////////////*/
.shadowStyling {
    webkit-box-shadow: 0 8px 6px -6px #999;
    moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}
/*////////////////////////////////////// TRANSITIONS (ANIMATIONS)//////////////////////////////////////*/
.hoverScaleUp {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.hoverEaseChangeColor {
    -webkit-tranHoverition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.initialThumbnailScaleAndEase {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
/*////////////////////////////////////// NAVBAR //////////////////////////////////////*/
.navbar-default {
    height: 6vh;
    z-index: 100;
    background-color: white;
    margin-bottom: 0;
    webkit-box-shadow: 0 8px 6px -6px #999;
    moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.navbar-toggle {
    position: absolute !important;
    right: 1% !important;
}

.navbar-text {
    font-size: 0.7em;
    margin: 0;
    padding: 0;
    max-width:8.2em;
}

.brand-logo {
    width: 70%;
    /* you can use % */
    height: auto;
    margin: 5 0;
}

.btn-default-contact:hover {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.breadcrumbRow {
    display: flex;
    margin-top: 20px;
    margin-bottom: 100px;
}

.breadcrumbContainer {
    display: flex;
    flex-direction: row;
    margin-top: 23px;
    list-style: none;
    padding: 0 10%;
}

.breadcrumbHandy {
    -o-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    text-align: center;
    border-top: solid 3px #1370B8;
    height: 5px;
    display: list-item;
    position: relative;
    color: #1370B8;
    padding-top: 10px;
    font-size: 18px;
}

    .breadcrumbHandy > a {
        text-decoration: none !important;
        color: inherit;
    }

.breadcrumblineVisited {
    border-top: solid 3px #FEC20F;
}

.breadcrumbLineCurrent {
    background: linear-gradient(90deg, #FEC20F 0, #FEC20F 54%, #1370B8 46%, #1370B8 100%);
    height: 3px;
    position: absolute;
    width: 100%;
    margin-top: -13px;
}

.breadcrumbHandy::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: -9px;
    left: 50%;
    border: 3px solid #1370B8;
    border-radius: 50%;
    margin-left: -5px;
    background-color: #fff;
}

.breadcrumbHandy:first-child {
    text-align: left;
}

    .breadcrumbHandy:first-child:before {
        left: 0;
        margin-left: 0
    }

.breadcrumbHandy:last-child {
    text-align: right;
}

    .breadcrumbHandy:last-child:before {
        left: auto;
        right: -1px;
        margin-left: 0
    }

.currentBreadcrumb:before {
    border: 3px solid #FEC20F !important;
    background-color: #fec20f !important;
}

.visitedBreadcrumb:before {
    border: 3px solid #FEC20F !important;
}

.glyphicon-earphone {
    color: #1370B8;
}
/*////////////////////////////////////// GLYPHICON //////////////////////////////////////*/
.glyphicon:before {
    margin-right: 5px;
}

.jumbotron-notFront {
    background-color: #1370B8;
    color: white;
    margin: 40px 0 0 0;
    padding: 25px 0 25px 0;
}

.container .jumbotron,
.container-fluid .jumbotron {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 6px 6px 0 0;
}

.handyContainer {
    background-color: white;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.1);
    height: 93.8vh;
}
/*////////////////////////////////////// TEXT INDEX //////////////////////////////////////*/
.frontpage_text {
    text-align: right;
    font-weight: bold;
    background-color: #1371B8;
    color: white;
    padding: 6px 6px 8px 6px;
    margin-top: 195px;
}

.row-centered {
    margin: auto;
}
/*////////////////////////////////////// THUMBNAILS //////////////////////////////////////*/
p .hard:hover {
    font-weight: bold;
}

.lowerThumbnail {
    background-color: #1371B8;
}

.lowerThumbnail_text {
    color: white;
    margin-bottom: 2.5px;
    margin-top: 5px;
    font-size: 13px;
}

.lowerThumbnail_text_big {
    color: white;
    margin-bottom: 2.5px;
    margin-top: 5px;
    font-size: 30px;
}

.thumbnail-container-walkingAid {
    padding-left: 0;
}

.thumbnail-mode {
    margin: 40px 0 0 0;
    border-color: #1371B8;
    border-width: 4px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.thumbnail-select {
    margin: 40px 0 10px 0;
    border-color: #1371B8;
    border-width: 4px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

    .thumbnail-select:hover {
        text-decoration: none;
        background-color: #FEC20F;
        font-weight: bold;
        -webkit-tranHoverition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
    }

.thumbnail-mini {
    margin-top: 40px;
    background-color: #FEC20F;
}

.hoverThumbnails:hover {
    background-color: #FEC20F;
    font-weight: bold;
    text-decoration: none;
    -webkit-tranHoverition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.thumbnail-container-frontPage {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 50px;
}
/* card-img-top classes are the thumbnail images */
.card-img-top {
    width: 40%;
    height: auto;
    padding: 40px 0;
    margin: 0 0 0 0;
}

.card-img-top-WayOfSearching {
    width: 60%;
    height: auto;
    padding: 50px 0;
    margin: 0 0 0 0;
}

.img-navbar {
    width: 20%;
    height: auto;
    margin: 0 0.2em 0 0;
    max-width: 20px;
    padding-right: 0;
}

.brand-brand {
    padding: 0
}

.card-img-top-walkingAid {
    width: 80%;
    height: auto;
    margin: 40px 0px 40px 0px;
}

.description-container {
    margin: 0 0 15px 0;
    padding: 0;
    list-style: none;
    background-color: #f5f5f5;
    -ms-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.description-text {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
    padding: 7px 55px 0 0;
}

.back-button {
    padding: 10px;
    border-radius: 0 0 0 6px;
    border-color: #f5f5f5;
}

    .back-button:hover {
        border-color: transparent;
        color: white;
        -webkit-tranHoverition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
    }

/*////////////////////////////////////// OBSTACLE TABLE //////////////////////////////////////*/
.obstaclesTile {
    margin: 40px 0 0 -30px;
    background-color: #F5F5F5;
}

.obstacleCheckboxes {
    font-size: 25px;
}
/*////////////////////////////////////// FORM //////////////////////////////////////*/
.form-container {
    margin-top: 40px;
    padding: 0 0 0 0;
}

.from-to {
    font-size: 25px;
}

.back-button:hover {
    background-color: #1371B8;
}

.form-button {
    padding: 0 0 0 0;
}
/*/////////////////////////// STEPS //////////////////////////*/
.stepActivated {
    width: 5%;
    height: 5%;
    margin: 0 10px 0 10px;
}

.stepDiactivated {
    width: 5%;
    height: 5%;
    opacity: 0.5;
    margin: 0 10px 0 10px;
}

.step-breadcrumbs:hover {
    text-decoration: none;
}

.stepVisited:hover {
    color: white;
    opacity: 1;
    -webkit-tranHoverition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.softHover {
    -webkit-tranHoverition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.street-eval-form {
    background-color: #f5f5f5;
    margin-top: 30px;
    padding-top: 15px;
    border-radius: 6px 6px 0 0;
}

.street-eval-form2 {
    background-color: white;
    border-color: #f5f5f5;
    border-style: solid;
    border-width: 4px;
    margin-bottom: 0;
    padding: 15px;
    -ms-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    text-align: center;
}

.street-eval-form3 {
    margin-top: 0;
    padding: 15px;
}

.street-eval-form4 {
    background-color: white;
    border-color: #f5f5f5;
    border-style: solid;
    border-width: 4px;
    margin-bottom: 0;
    padding: 15px;
    border-radius: 6px 6px 0 0;
    margin-top: 30px;
    padding: 0 15px;
    padding-top: 5px;
}

.street-eval-form5 {
    background-color: white;
    border-color: #f5f5f5;
    border-style: solid;
    border-width: 4px;
    margin-bottom: 0;
    padding: 15px;
    border-radius: 6px 6px 0 0;
    margin-top: 30px;
    padding: 25px 25px;
}

.street-eval-form6 {
    background-color: white;
    border-color: #f5f5f5;
    border-style: solid;
    border-width: 4px;
    margin-top: 30px;
    margin-bottom: 0;
    padding: 15px;
    border-radius: 6px 6px 0 0;
    background-color: #f5f5f5;
    border-radius: 0 0 6px 6px;
    margin-top: 0;
    padding: 0;
}

.btn-lg,
.btn-group-lg > .btn {
    padding: 20px 16px;
}

.form-description {
    font-size: 22px !important;
}
/*/////////////////////////// COOKIES //////////////////////////*/
.cc-window.cc-banner {
    padding: 0.5em 0.8em;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
}
/**
    add this when fade out transition is fixed:

    .cc-window.cc-banner:hover {
    opacity: 1;

    else

    opacity: 0.8; //0.9 can be considered
}
*/

input {
    font-size: 22px !important;
    padding: 10px;
    color: black;
}

.autocomplete {
    display: flex;
    flex-direction: column;
}

    .autocomplete input {
        margin: 15px;
        border: 1px solid #b4b4b4;
        -ms-border-radius: 5px;
        border-radius: 5px;
    }

        .autocomplete input:focus {
            outline: none;
        }

.form-control {
    height: 40px;
}

.mapLayout {
    display: flex !important;
    width: 100%;
}

.mapBackground {
    background-image: url("../img/zoetermeerMap.PNG");
    background-repeat: no-repeat;
}

.mapLayout .breadcrumbRow {
    width: 75%;
    margin: 10px 20px 20px 20px;
    padding-bottom: 20px;
    z-index: 20;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 1px #b2b2b2;
    box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.3);
}

.mapLayout #map {
    position: absolute;
    width: 100vw;
    height: 93.8vh;
}

.mapLayout .breadcrumbContainer {
    padding: 0 4%;
}

.gmnoprint {
    margin-top: 90px !important;
    margin-left: 26% !important;
    display: none !important;
}

.pageTitle {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.btn {
    font-size: 100%;
}

