
/*STARS-------------*/
.helft, .midden {
    fill: #c7c7c7;
}

path:hover:before {
    fill: green;
}

#grade {
    display: inline !important;
}

.baseColor {
    fill: #c7c7c7;
}

.hoverColor {
    fill: #6ede9c !important;
}

.colorSelected {
    fill: #2ecc71;
}

/*///////////TEKST DISPLAY/////////////*/

#tekstDef {
    display: none;
}

.tekstContainer {
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
    height: 40px;
    margin-bottom: 50px;
}

