@{
    ViewData["Title"] = "SelectWalkingAid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row breadcrumbRow">
    <ul class="container breadcrumbContainer">
        <li class="breadcrumbHandy currentBreadcrumb ">Review choice</li>
        <li class="breadcrumbHandy">Select adress/building</li>
        <li class="breadcrumbHandy">Enter your review</li>
        <li class="breadcrumbHandy">Finish your review</li>
    </ul>
</div> <!-- visitedBreadcrumb breadcrumblineVisited     <div class="breadcrumbLineCurrent"></div>       currentBreadcrumb-->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 pageTitle">
        <span>What do you like to find?</span>
    </div>
</div>
<div class="row col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
    <div class="col-sm-12 col-md-6 col-lg-6">
        <a class="thumbnail text-center thumbnail-select" asp-controller="Street_eval_" asp-action="street_eval" style="cursor: pointer;">
            <img class="card-img-top-walkingAid" src="~/img/street.svg" alt="">
            <div class="caption lowerThumbnail">
                <h2 class="lowerThumbnail_text_big">Streets</h2>
                <p class="hard lowerThumbnail_text">- click to select this mode - </p>
            </div>
        </a>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <a class="thumbnail text-center thumbnail-select" asp-controller="ReviewPlaces" asp-action="SelectBuilding" style="cursor: pointer;">
            <img class="card-img-top-walkingAid" src="~/img/buildings.svg" alt="">
            <div class="caption lowerThumbnail">
                <h2 class="lowerThumbnail_text_big">Buildings</h2>
                <p class="hard lowerThumbnail_text">- click to select this mode - </p>
            </div>
        </a>
    </div>
</div>