
@{
    ViewData["Title"] = "PlaceInput";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row breadcrumbRow">
  <ul class="container breadcrumbContainer">
    <li class="breadcrumbHandy visitedBreadcrumb breadcrumblineVisited"><a asp-controller="Buildings" asp-action="WayOfSearching">Way of searching</a></li>
    <li class="breadcrumbHandy currentBreadcrumb"><div class="breadcrumbLineCurrent"></div>Enter adress/name</li>
    <li class="breadcrumbHandy">Find your place</li>
  </ul>
</div> <!-- visitedBreadcrumb breadcrumblineVisited     <div class="breadcrumbLineCurrent"></div>-->
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 pageTitle">
    <span>What do you like to find?</span>
  </div>
</div>
<div class="container form-container col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
    <form asp-action="PlacesResult" asp-controller="Buildings">
        <div class="form-group">
            @Html.Partial("~/Views/PartialView/_AutoComplete.cshtml")
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 form-button">
            <button class="btn btn-block btn-primary btn-lg" id="placeInputSubmit">
                <span><span class="glyphicon glyphicon-ok-circle"></span>Route options</span>
            </button>
        </div>
    </form>
</div>



