
@{
    ViewData["Title"] = "PlaceInput";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row breadcrumbRow">
  <ul class="container breadcrumbContainer">
    <li class="breadcrumbHandy visitedBreadcrumb breadcrumblineVisited"><a asp-controller="Buildings" asp-action="WayOfSearching">Way of searching</a></li>
    <li class="breadcrumbHandy currentBreadcrumb"><div class="breadcrumbLineCurrent"></div>Enter adress/name</li>
    <li class="breadcrumbHandy">Find your place</li>
  </ul>
</div> <!-- visitedBreadcrumb breadcrumblineVisited     <div class="breadcrumbLineCurrent"></div>-->
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 pageTitle">
    <span>Select an area</span>
  </div>
</div>
<div class="row"><div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3" style="padding-right: 60px;">
  <?xml version="1.0" encoding="utf-8" ?>

  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 90 500 350" style="enable-background: new 0 0 500 500;" xml:space="preserve">
  <g id="Zoetermeer">
  <polygon points="133.1,328.7 41.6,318.4 18,287.4 40.1,287.4 34.2,260.8 38.7,260.8 38.7,250.5 156.7,173.8 218.7,162
		218.7,141.3 273.3,129.5 277.7,119.2 291,129.5 298.3,128 298.3,107.4 313.1,100 341.1,125.1 345.6,125.1 394.3,166.4 397.2,173.8
		414.9,188.5 407.5,197.4 413.4,201.8 409.7,208.5 470.2,258.6 470.2,263 485,273.4 458.4,301.4 457,311.7 446.6,335.3 408.3,330.9
		392.8,346.4 386.9,349.4 313.1,421.7 220.1,421.7 199.5,375.9 158.2,386.2 	" /></g>
  <g id="Buitengebied">
  <polygon class="wijkStroke" points="133.1,328.7 168.5,328.7 168.5,318.4 146.4,297.7 158.2,262.3 178.8,262.3 189.2,240.2 184.7,229.8
		192.1,216.6 217.2,215.1 233.4,212.1 243.8,218 262.9,197.4 273.3,193 304.2,164.9 332.3,172.3 350,170.8 357.4,159 319,114.8
		317.7,104.1 313.1,100 298.3,107.4 298.3,128 291,129.5 277.7,119.2 273.3,129.5 218.7,141.3 218.7,162 156.7,173.8 38.7,250.5
		38.7,260.8 34.2,260.8 40.1,287.4 18,287.4 41.6,318.4 	" /></g>
  <g id="Meerzicht">
  <polygon class="wijkStroke" points="217.2,331.7 168.5,328.7 168.5,318.4 146.4,297.7 158.2,262.3 178.8,262.3 184.8,249.4 237.9,265.3
		" /></g>
  <g id="Rokkeveen">
  <polygon class="wijkStroke" points="133.4,328.7 168.8,328.7 216.8,331.6 244.5,335.3 300.6,345.7 296.1,354.5 305,367.8 274,410.6
		279.9,413.5 279.7,421.7 220.2,421.7 199.5,376 158.2,386.2 	" /></g>
  <g id="Driemanspolder">
  <polygon class="wijkStroke" points="244,335.3 274,302.9 271.1,288.1 237.8,265.5 217.2,331.7 	" /></g>
  <g id="Buytenwegh De Leyens">
  <polygon class="wijkStroke" points="296.1,246.8 238.1,265.7 184.9,249.3 189.1,240.2 184.7,229.9 192.1,216.6 217,215.1 233.3,212.2
		243.6,218 262.9,197.4 273.2,193 304.2,164.9 332.3,172.3 324.2,177.5 	" /></g>
  <g id="Noordhove">
  <polygon class="wijkStroke" points="381.7,246.8 409,209.2 413.4,201.8 407.6,197.4 414.9,188.6 397.2,173.7 394.3,166.4 345.6,125.1
		341.2,125.1 317.7,104.1 319,114.8 357.3,159 350,170.8 332.3,172.3 324.2,177.5 318.3,192.2 361.1,209.9 358.1,218.8 	" /></g>
  <g id="Seghwaert">
  <polygon class="wijkStroke" points="344.8,291.1 381.7,246.8 358.1,218.8 361.1,209.9 318.3,192.2 296.1,246.8 	" /></g>
  <g id="Stadscentrum">
  <polygon class="wijkStroke" points="296.1,246.8 238.7,265.5 271.1,288.1 279.9,292.6 300.6,251.2 	" /></g>
  <g id="Dorp">
  <polygon class="wijkStroke" points="244.5,335.3 274,302.9 271.1,288.1 279.9,292.6 284.2,284.2 322.7,319.1 305,335.3 281.4,328
		268.1,339.8 	" /></g>
  <g id="Palenstein">
  <polygon class="wijkStroke" points="300.6,251.2 284.5,283.6 322.7,319.1 344.8,291.1 	" /></g>
  <g id="Oosterheem">
  <polygon class="wijkStroke" points="381.7,246.8 409.7,208.5 470.2,258.6 470.2,263 485,273.4 458.4,301.4 457,311.7 446.6,335.3
		408.3,330.9 402.4,336.8 372.9,316.2 408.3,271.9 	" /></g>
  <g id="Bedrijventerreinen">
  <polygon class="wijkStroke" points="279.9,413.5 274,410.6 305,367.8 296.1,354.5 300.6,345.7 268.1,339.8 281.4,328 305,335.3
		322.7,319.1 344.8,291.1 381.7,246.8 408.3,271.9 372.9,316.2 402.4,336.8 392.7,346.4 386.9,349.4 313.1,421.6 279.9,421.7 	" /></g>
    </svg>
</div>
<div class=" col-lg-3 col-md-3 col-sm-3" style="padding-right: 60px; padding-left: 0px;">
  <div id="AreaName">
    <div>Area:</div>
    <span id="wijk" class="from-to"></span>
  </div>
    <a class="btn btn-block btn-primary btn-lg" asp-controller="Buildings" asp-action="PlacesResult" method="post" id="SelectArea">Select Area&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></a>
</div>
</div> 
@section Style {
  <link rel="stylesheet" href="~/css/selectArea.css" />
}
@section Scripts {
  <script src="~/js/SelectArea.js"></script>
}