
@{
    ViewData["Title"] = "WayOfSearching";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row breadcrumbRow">
  <ul class="container breadcrumbContainer">
    <li class="breadcrumbHandy currentBreadcrumb">Way of searching</li>
    <li class="breadcrumbHandy">Enter adress/name</li>
    <li class="breadcrumbHandy">Find your place</li>
  </ul>
</div> <!-- visitedBreadcrumb breadcrumblineVisited     <div class="breadcrumbLineCurrent"></div>-->
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 pageTitle">
    <span>How do you want to find an accessible place?</span>
  </div>
</div>
<div class="row col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
  <div class="col-sm-12 col-md-6 col-lg-6">
    <a class="thumbnail thumbnail-select text-center" asp-controller="Buildings" asp-action="PlaceInput" style="cursor: pointer;">
      <img class="card-img-top-WayOfSearching" src="~/img/searchBar.svg" alt="">
      <div class="caption lowerThumbnail">
        <h3 class="lowerThumbnail_text_big">Search by name</h3>
        <p class="hard lowerThumbnail_text">- click to select this route - </p>
      </div>
    </a>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6">
    <a class="thumbnail thumbnail-select text-center" asp-controller="Buildings" asp-action="SelectArea" style="cursor: pointer;">
      <img class="card-img-top-WayOfSearching" src="~/img/mapSearch.svg" alt="">
      <div class="caption lowerThumbnail">
          <h3 class="lowerThumbnail_text_big">Select on <br />map</h3>
        <p class="hard lowerThumbnail_text">- click to select this route - </p>
      </div>
    </a>
  </div>
</div>
