@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
https://cdn-images-1.medium.com/max/1800/1*lTlWNv5Uy0o6QWv1fwMqKA.png
