@{
    ViewData["Title"] = "Home Page";
}


    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-9 col-lg-offset-3">
            <h2 class="frontpage_text" id="titleLine1">De routeplanner voor minder validen in Zoetermeer.</h2>
        </div>
    </div>
    <div class="container thumbnail-container-frontPage">
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4" id="thumbnail1">
                <a class="thumbnail thumbnail-mode hoverThumbnails text-center" asp-controller="Buildings" asp-action="WayOfSearching" style="cursor: pointer;">
                    <img class="card-img-top" src="~/img/map.svg" alt="">
                    <div class="caption lowerThumbnail">
                        <h3 class="lowerThumbnail_text_big">Ontdek toegankelijke plaatsen</h3>
                        <p class="hard lowerThumbnail_text">- click to select this mode - </p>
                        <!--<p><a href="#" class="btn btn-default" role="button"> <span class="glyphicon glyphicon-info-sign fa-fw"></span>About this mode</a></p>-->
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4" id="thumbnail2">
                <a class="thumbnail thumbnail-mode hoverThumbnails text-center" asp-controller="Navigation" asp-action="SelectWalkingAid" style="cursor: pointer;">
                    <img class="card-img-top" src="~/img/navigation.svg" alt="">
                    <div class="caption lowerThumbnail">
                        <h3 class="lowerThumbnail_text_big">Plan een toegankelijke route</h3>
                        <p class="hard lowerThumbnail_text">- click to select this mode - </p>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4" id="thumbnail3">
                <a class="thumbnail thumbnail-mode hoverThumbnails text-center" asp-controller="Home" asp-action="SelectReview" style="cursor: pointer;">
                    <img class="svg colorFill card-img-top" src="~/img/Review.svg" alt="">
                    <div class="caption lowerThumbnail">
                        <h3 class="lowerThumbnail_text_big">Beoordeel straten en gebouwen</h3>
                        <p class="hard lowerThumbnail_text">- click to select this mode - </p>
                    </div>
                </a>
            </div>
        </div>
    </div>

@section Style {
<link rel="stylesheet" href="~/css/Index_StyleSheet.css"/>
}

<!--
<link href="css/main.css" rel="stylesheet" />    
-->