@{
    ViewData["Title"] = "SelectWalkingAid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row breadcrumbRow">
  <ul class="container breadcrumbContainer">
    <li class="breadcrumbHandy currentBreadcrumb ">Review choise</li>
    <li class="breadcrumbHandy">Select adress/building</li>
    <li class="breadcrumbHandy">Enter your review</li>
    <li class="breadcrumbHandy">Finish your review</li>
  </ul>
</div> <!-- visitedBreadcrumb breadcrumblineVisited     <div class="breadcrumbLineCurrent"></div>       currentBreadcrumb-->
<div class="container thumbnail-container-walkingAid">
    <div class="row ">
        <div class="col-sm-offset-3  col-sm-12 col-md-3 col-lg-3" id="thumbnail1">
            <a class="thumbnail text-center thumbnail-navigation hoverWalkingAids" asp-controller="home" asp-action="street_eval" style="cursor: pointer;">
                <img class="card-img-top-walkingAid" src="~/img/street.svg" alt="">
                <div class="caption lowerThumbnail">
                    <h2 class="lowerThumbnail_text_big">Streets</h2>
                    <p class="hard lowerThumbnail_text">- click to select this mode - </p>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3" id="thumbnail1">
            <a class="thumbnail text-center thumbnail-navigation hoverWalkingAids" asp-controller="ReviewPlaces" asp-action="Index" style="cursor: pointer;">
                <img class="card-img-top-walkingAid" src="~/img/buildings.svg" alt="">
                <div class="caption lowerThumbnail">
                    <h2 class="lowerThumbnail_text_big">Buildings</h2>
                    <p class="hard lowerThumbnail_text">- click to select this mode - </p>
                </div>
            </a>
        </div>
    </div>
</div>