
@{
    ViewData["Title"] = "SelectWalkingAid";
    Layout = "~/Views/Shared/_Subpages.cshtml";
}

<!-- JUMBOTRON -->


<!--Breadcrumbs-->
<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a asp-controller="Home" asp-action="">Home</a></li>
        <li class="breadcrumb-item active">Select Walking Aid</li>
    </ol>
</div>

<div class="container">
  <div class="row ">
    <div class="col-sm-12 col-md-3 col-lg-3" id="thumbnail1">
      <a class="thumbnail text-center thumbnail-navigation hoverWalkingAids" asp-controller="home" asp-action="Preferences" style="cursor: pointer;">
        <img class="card-img-top-walkingAid" src="~/img/Mobility scooter.svg" alt="">
        <div class="caption">
          <h3>Mobility scooter</h3>
          <p class="hard">- click to select this mode - </p>
        </div>
      </a>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3" id="thumbnail2">
      <a class="thumbnail text-center thumbnail-navigation hoverWalkingAids" asp-controller="Home" asp-action="Preferences" style="cursor: pointer;">
        <img class="card-img-top-walkingAid" src="~/img/wheelchair (1).svg" alt="">
        <div class="caption">
          <h3>Wheelchair</h3>
          <p class="hard">- click to select this mode - </p>
        </div>
      </a>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3" id="thumbnail3">
      <a class="thumbnail text-center thumbnail-navigation hoverWalkingAids" asp-controller="home" asp-action="Preferences" style="cursor: pointer;">
        <img class="svg colorFill card-img-top-walkingAid" src="~/img/map_v2.svg" alt="">
        <div class="caption">
          <h3>Walker</h3>
          <p class="hard">- click to select this mode - </p>
        </div>
      </a>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3" id="thumbnail4">
      <a class="thumbnail text-center thumbnail-navigation hoverWalkingAids" asp-controller="home" asp-action="Preferences" style="cursor: pointer;">
        <img class="svg colorFill card-img-top-walkingAid" src="~/images/walking-stick (1).svg" alt="">
        <div class="caption">
          <h3>Walking stick</h3>
          <p class="hard">- click to select this mode -</p>
        </div>
      </a>
    </div>
  </div>
</div>

@section Style {
  <link rel="stylesheet" href="~/css/SelectWalkingAid.css"/>
}