@{
    ViewData["Title"] = "SelectWalkingAid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row breadcrumbRow">
  <ul class="container breadcrumbContainer">
    <li class="breadcrumbHandy currentBreadcrumb ">Review choise</li>
    <li class="breadcrumbHandy">Select adress/building</li>
    <li class="breadcrumbHandy">Enter your review</li>
    <li class="breadcrumbHandy">Finish your review</li>
  </ul>
</div> <!-- visitedBreadcrumb breadcrumblineVisited     <div class="breadcrumbLineCurrent"></div>       currentBreadcrumb-->
<div class="container thumbnail-container-walkingAid">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-12 col-md-4 col-lg-3">
      <a class="thumbnail text-center thumbnail-navigation hoverWalkingAids" asp-controller="Home" asp-action="street_eval" style="cursor: pointer;">
        <img class="card-img-top-walkingAid" src="~/img/add_v2.svg" alt="">
        <div class="caption">
          <h3>Streets</h3>
          <p class="hard">- click to select this mode - </p>
        </div>
      </a>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-3">
      <a class="thumbnail text-center thumbnail-navigation hoverWalkingAids" asp-controller="Home" asp-action="" style="cursor: pointer;">
        <img class="card-img-top-walkingAid" src="~/img/add_v2.svg" alt="">
        <div class="caption">
          <h3>Buildings</h3>
          <p class="hard">- click to select this mode - </p>
        </div>
      </a>
    </div>
  </div>
</div>
