@model street_eval_model

@{
    ViewData["Title"] = "street_eval2";
}
<div class="row breadcrumbRow">
  <ul class="container breadcrumbContainer">
    <li class="breadcrumbHandy visitedBreadcrumb breadcrumblineVisited"><a asp-controller="home" asp-action="SelectReview"> Review choise</a></li>
    <li class="breadcrumbHandy visitedBreadcrumb breadcrumblineVisited"><a asp-controller="home" asp-action="street_eval"> Select adress/building</a></li>
    <li class="breadcrumbHandy currentBreadcrumb"><div class="breadcrumbLineCurrent"></div>Enter your review</li>
    <li class="breadcrumbHandy">Finish your review</li>
  </ul>
</div> <!-- visitedBreadcrumb breadcrumblineVisited     <div class="breadcrumbLineCurrent"></div>       currentBreadcrumb-->
<div class="row">
    <div class="street-eval-form5 col-lg-6 col-md-6 col-sm-6 col-xs-6 col-lg-offset-3  col-md-offset-3  col-sm-offset-3  col-xs-offset-3">
        <div class="form-group" style="margin: 0">
            <label class="form-description" for="">Obstacle type</label>
            <select class="form-control" id="" autofocus>
                <option>-None-</option>
                <option>Stairs</option>
                <option>Roadwork</option>
                <option>Damaged road</option>
                <option>Undefined (important to give description)</option>
            </select>
        </div>
        <div class="form-group" style="margin: 0; padding-top: 15px;">
            <label class="form-description">Describe your obstacle</label>
            <textarea class="form-control" placeholder="Describe the obstacle..." rows="3"></textarea>
        </div>
    </div>
    <div class="street-eval-form6 col-lg-6 col-md-6 col-sm-6 col-xs-6 col-lg-offset-3  col-md-offset-3  col-sm-offset-3  col-xs-offset-3">
        <a class="btn btn-block btn-success btn-lg" asp-controller="Home" asp-action="street_eval5">Select obstacle type&ensp;<span class="glyphicon glyphicon-arrow-right"></span></a>
    </div>
</div>



<!--
<form class="form-inline">
    <div class="form-group">
        <label for="inputPassword6">Password</label>
        <input type="password" id="inputPassword6" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
        <small id="passwordHelpInline" class="text-muted">
            Must be 8-20 characters long.
        </small>
    </div>
</form>
-->


<link rel="stylesheet" href="~/css/start_rating.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" charset="utf-8"></script>