@{
    ViewData["Title"] = "Preferences";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row breadcrumbRow">
  <ul class="container breadcrumbContainer">
    <li class="breadcrumbHandy visitedBreadcrumb breadcrumblineVisited"><a asp-controller="Navigation" asp-action="SelectWalkingAid">Way of navigating</a></li>
    <li class="breadcrumbHandy currentBreadcrumb"><div class="breadcrumbLineCurrent"></div>Selecting preferences</li>
    <li class="breadcrumbHandy">Enter adress</li>
    <li class="breadcrumbHandy">Find your route</li>
  </ul>
</div> <!-- visitedBreadcrumb breadcrumblineVisited     <div class="breadcrumbLineCurrent"></div>       currentBreadcrumb-->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 pageTitle">
        <span>Select your preferences</span>
    </div>
</div>
<!--/////////////////////// THIS IS JUST A DUMMY!!!! THIS IS SUPPOSED TO WORK WHEN YOU CAN MAKE A CUSTOM ROUTE {AVOIDING OBSTACLES} ///////////////////////////-->
<div class="row col-sm-offset-1 col-sm-10 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="thumbnail text-center obstaclesTile">
      <div class="caption">
        <table class="table table-striped table-hover table-condensed text-left">
          <tr>
            <th>Obstacle</th>
            <th>Select</th>
            <th>Image example</th>
          </tr>
          <tr class="success">
            <td>Stairs</td>
            <td>
              <input type="checkbox" checked="checked"><br>
            </td>
            <td>...</td>
          </tr>
          <tr>
            <td>steep roads (>= 5%) </td>
            <td>
              <input type="checkbox">
            </td>
            <td>...</td>
          </tr>
          <tr class="success">
            <td> Road Works</td>
            <td>
              <input type="checkbox" checked="checked">
            </td>
            <td>...</td>
          </tr>
          <tr>
            <td>Terrain</td>
            <td>
              <input type="checkbox">
            </td>
            <td>...</td>
          </tr>
          <tr class="success">
            <td>Pavements</td>
            <td>
              <input type="checkbox" checked="checked">
            </td>
            <td>...</td>
          </tr>
          <tr class="success">
            <td>Narrow entrances</td>
            <td>
              <input type="checkbox" checked="checked">
            </td>
            <td>...</td>
          </tr>
        </table>
        <a class="btn btn-block btn-primary btn-lg" asp-controller="Navigation" asp-action="InputRoute"><span class="glyphicon glyphicon-ok-circle"></span>Plan Route</a>
      </div>
    </div>
  </div>
</div>

@section Style {
  <link rel="stylesheet" href="~/css/SelectWalkingAid.css" />
}
