
@{
    ViewData["Title"] = "RouteOnMap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- JUMBOTRON -->
<div class="jumbotron text-center jumbotron-notFront">
    <div class="container">
        <h3>From to where:</h3>
    </div>
</div>

<!--Breadcrumbs-->
<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Select Walking Aid</li>
    </ol>
</div>

<div class="container">
    <div class="row ">
        <div class="col-sm-12 col-md-3 col-lg-3" id="thumbnail1">
            <span style="color:white;"> Here you'll find the route on the map</span>
        </div>
    </div>
</div>