
@{
    ViewData["Title"] = "street_eval2";
}
<div class="row breadcrumbRow">
  <ul class="container breadcrumbContainer">
    <li class="breadcrumbHandy visitedBreadcrumb breadcrumblineVisited"><a asp-controller="Review" asp-action="SelectReview"> Review choice</a></li>
    <li class="breadcrumbHandy visitedBreadcrumb breadcrumblineVisited"><a asp-controller="home" asp-action="street_eval"> Select adress/building</a></li>
    <li class="breadcrumbHandy visitedBreadcrumb breadcrumblineVisited"><a asp-controller="home" asp-action="street_eval3"> Enter your review</a></li>
    <li class="breadcrumbHandy currentBreadcrumb breadcrumblineVisited">Finish your review</li>
  </ul>
</div> <!-- visitedBreadcrumb breadcrumblineVisited     <div class="breadcrumbLineCurrent"></div>       currentBreadcrumb-->
<div class="container" style="color: #1371B8; text-align: center;">
  <img src="~/img/like.svg" height="15%" width="15%"/>
  <h1> <!--<'Thumbs-up-icon'>--></h1>
    <h1>Thanks for giving a review! Keep on the good work!</h1>
  <h3>- Giving reviews helps us giving you a more accurate and relaible map!</h3>
<a class="btn btn-success"style="padding: 10px 20px; margin-top: 20px;" asp-controller="Home" asp-action="">Back to home&ensp;<span class="	glyphicon glyphicon-home"></span></a>
</div>