<div class="autocomplete">
    <input type="text" class="search" id="search" placeholder="For example: Restaurant, Gemeentehuis of station.." autocomplete="on" autofocus>
    <div id="hiddenForm" style="display: none"></div>
</div>




