@model IList<HandyMapp.Models.GoogeApi.Places.Details.PlaceDetails>

@if (@Model != null)
{
  for (int i = 0; i < @Model.Count; i++)
  {
        <div class="PlaceReviewResult ">
          <div class="Placetext" id="@(" PlaceTitle" + i)">
            <div class="PlaceReviewTitle">
              @Html.DisplayTextFor(m => Model[i].result.name)
            </div>
          </div>
          <div class="PlaceReviewAdress">@Html.DisplayTextFor(m => Model[i].result.formatted_address)</div>
          <a asp-controller="ReviewPlaces" asp-action="ReviewStarBuilding">
            <div class="PlaceResultButton" style="text-align: center; padding: 5px; height: 35px; ">
              <span style="display: inline;">Review</span><span class="glyphicon glyphicon-pencil" style="display: inline;"></span>
            </div>
          </a>
        </div>
  }
}





